<div class="container with-background" style="margin-top: 100px;">
  
    <div class="row justify-content-center">
        <div class="col-md-3">
            <h2>Login</h2>
            <form [formGroup]="inicioForm" (ngSubmit)="inicio()">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input formControlName="username" type="text" class="form-control short-input" id="username">
                    <div *ngIf="inicioForm.get('username')?.invalid && (inicioForm.get('username')?.dirty || inicioForm.get('username')?.touched)" class="text-danger">
                        <div *ngIf="inicioForm.get('username')?.errors?.['required']">
                            El username es requerido.
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control short-input" id="password">
                    <div *ngIf="inicioForm.get('password')?.invalid && (inicioForm.get('password')?.dirty || inicioForm.get('password')?.touched)" class="text-danger">
                        <div *ngIf="inicioForm.get('password')?.errors?.['required']">
                            La contraseña es requerida.
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>

            <p class="mt-3 ms-1">No tienes cuenta? <a routerLink="/registrar">Registrar</a></p>
        </div>
    </div>
</div>
